[Unit]
Description=BATI telemetry daemon

[Service]
Type=simple
ExecStart=/usr/bin/batid
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
